body
{
    background: #1e1f24;
    color: #333;
    border: solid white;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    margin: 3%;
    width: 80%;
}

#HEADER
{
    background-color: #037192;
    color: rgb(252, 252, 252);   
}

#post
{
    background-color: white;
}

#footer
{
    background-color: #037192;
    color: rgb(252, 252, 252);
}

